:root {
	--pink-highlight: #f449d5;
}


body {
	font-family: 'Arial', sans-serif;
	color: #252525;
	line-height: 1.5;
	background-color: white;
	display: flex;
	flex-direction: row;
	padding: 2em;
}

h1, h2 {
	background-color: var(--pink-highlight);
	color: yellow;
}



 @media screen and (max-width: 900px) {
	
	body {
		font-family: 'Arial', sans-serif;
		color: #252525;
		line-height: 1.5;
		background-color: white;
		display: flex;
		flex-direction: column;
		padding: 2em;
	}
 
}

header {
	padding-right: 20px;
	padding-top: 1em;
	font: bold calc(.025 * (250vw)) 'Arial', sans-serif;
	font-weight: lighter;
	max-width: 600px;
}



main {
	max-width: 600px;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: var(--pink-highlight);
	font-weight: bold;
}

pre {
	width: 100%;
	padding: 10px;
	background-color: #eeeeee;
}

h1 {
	margin-top: 2em;
}

blockquote {
	padding-left: 16px;
	border-left: 3px solid var(--pink-highlight);
}

 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
	background-color: white !important;
	cursor: pointer;
	padding: 10px;
	border: none;
	border-bottom: 3px solid var(--pink-highlight);
	border-top: 3px solid var(--pink-highlight);
	border-right: 3px solid var(--pink-highlight);
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
	background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
	padding: 10px;
	display: none;
	overflow: hidden;
	border-bottom: 3px solid var(--pink-highlight);
	border-left: 3px solid var(--pink-highlight);
  } 
  